        <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source media="(min-width: 1024px)" srcset="assets/img/gallery/large/{{phone.imageUrl}}"></source>
        <source media="(min-width: 650px)" srcset="assets/img/gallery/medium/{{phone.imageUrl}}"></source>
        <!--[if IE 9]></video><![endif]-->
        <img alt="selfportrait" srcset="assets/img/gallery/small/{{phone.imageUrl}}">
        </picture>

<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in phone.images">
    <img ng-src="{{img}}">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
    </dl>
  </li>
    ...
  <li>
    <span>Additional Features</span>
    <dd>{{phone.additionalFeatures}}</dd>
  </li>
</ul>